#login {
    font-size: 13px;
    line-height: 1.6;
}

#ouser_id_error, #nick_error, #opw_error, #pw_match_error, #email_error {
    font-size: 10px;
    margin-bottom: 20px;
}



.content {
    padding-top: 40px;
    padding-bottom: 40px;
}
.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
    background-color: #fcfcfc;
}
.reg-page {
	color: #555;
	padding: 30px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
}


/*Reg Header*/
.reg-header {
	color: #555;
	text-align: center;
	margin-bottom: 35px;
	border-bottom: solid 1px #eee;
}
.reg-header h2 {
	font-size: 24px;
	margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
	color: #777;
}
.input-group {
    margin-bottom: 20px;
}
.checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #2d3b7f;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}